*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
*tfevents* filter=lfs diff=lfs merge=lfs -text
baseline/iree/iree_models/bert/bert_1_384_768_3072.vmfb filter=lfs diff=lfs merge=lfs -text
baseline/iree/iree_models/efficientnet/efficient_mlir.ncu-rep filter=lfs diff=lfs merge=lfs -text
baseline/iree/iree_models/efficientnet/efficientnet-b0.mlir filter=lfs diff=lfs merge=lfs -text
baseline/iree/iree_models/efficientnet/efficientnet-b0.vmfb filter=lfs diff=lfs merge=lfs -text
baseline/iree/iree_models/lstm/frozen_lstm_l8s8h256_bs1.mlir filter=lfs diff=lfs merge=lfs -text
baseline/iree/iree_models/lstm/frozen_lstm_l8s8h256_bs1.vmfb filter=lfs diff=lfs merge=lfs -text
baseline/iree/iree_models/lstm/lstm_mlir.ncu-rep filter=lfs diff=lfs merge=lfs -text
baseline/iree/iree_models/bert/bert_1_384_768_3072.mlir filter=lfs diff=lfs merge=lfs -text
baseline/iree/iree_models/resnext/resnext_imagenet_101.mlir filter=lfs diff=lfs merge=lfs -text
baseline/iree/iree_models/resnext/resnext_imagenet_101.vmfb filter=lfs diff=lfs merge=lfs -text
baseline/iree/iree_models/resnext/resnext_mlir.ncu-rep filter=lfs diff=lfs merge=lfs -text
docker/souffle-mindspore_models-patch.txt filter=lfs diff=lfs merge=lfs -text
baseline/rammer/rammer_generated_models/lstm/nnfusion_rt.cu filter=lfs diff=lfs merge=lfs -text
baseline/iree/iree_models/swin-transformer/swin_trans_mlir.ncu-rep filter=lfs diff=lfs merge=lfs -text
baseline/iree/iree_models/swin-transformer/swin-transformer.vmfb filter=lfs diff=lfs merge=lfs -text
*.vmfb filter=lfs diff=lfs merge=lfs -text
*.mlir filter=lfs diff=lfs merge=lfs -text
*main_test filter=lfs diff=lfs merge=lfs -text
libnnfusion_naive_rt.a filter=lfs diff=lfs merge=lfs -text
*.cu\# filter=lfs diff=lfs merge=lfs -text
*.cu filter=lfs diff=lfs merge=lfs -text
*libnnfusion_naive_rt.a filter=lfs diff=lfs merge=lfs -text
./baseline/rammer/rammer_generated_models/** filter=lfs diff=lfs merge=lfs -text
./baseline/iree/iree_models/** filter=lfs diff=lfs merge=lfs -text
*.ncu-rep filter=lfs diff=lfs merge=lfs -text
baseline/tensorrt/tensorrt-8.4-engines/bert_1_384_768_3072.onnx filter=lfs diff=lfs merge=lfs -text
baseline/tensorrt/tensorrt-8.4-engines/bert_1_384_768_3072_trt_8.4.1_engine.trt filter=lfs diff=lfs merge=lfs -text
baseline/tensorrt/tensorrt-8.4-engines/efficientnet-b0.onnx filter=lfs diff=lfs merge=lfs -text
baseline/tensorrt/tensorrt-8.4-engines/efficientnet-b0_trt_8.4.1-engine.trt filter=lfs diff=lfs merge=lfs -text
baseline/tensorrt/tensorrt-8.4-engines/lstm_bs1_h256s100.onnx filter=lfs diff=lfs merge=lfs -text
baseline/tensorrt/tensorrt-8.4-engines/lstm_bs1_h256s100_trt_8.4.1_engine.trt filter=lfs diff=lfs merge=lfs -text
baseline/tensorrt/tensorrt-8.4-engines/resnext_imagenet_101.onnx filter=lfs diff=lfs merge=lfs -text
baseline/tensorrt/tensorrt-8.4-engines/resnext_imagenet_101_trt_8.4.1_engine.trt filter=lfs diff=lfs merge=lfs -text
baseline/tensorrt/tensorrt-8.4-engines/swin-transformer.onnx filter=lfs diff=lfs merge=lfs -text
baseline/tensorrt/tensorrt-8.4-engines/swin-transformer_trt_8.4.1_engine.trt filter=lfs diff=lfs merge=lfs -text
baseline/tensorrt/tensorrt-8.4-engines/tf_MMoE_1_100_16_8_2.onnx filter=lfs diff=lfs merge=lfs -text
baseline/tensorrt/tensorrt-8.4-engines/tf_MMoE_1_100_16_8_2_trt_8.4.1_engine.trt filter=lfs diff=lfs merge=lfs -text
