bert_1_384_768_3072.onnx filter=lfs diff=lfs merge=lfs -text
efficientnet-b0.onnx filter=lfs diff=lfs merge=lfs -text
frozen_lstm_l8s8h256_bs1.onnx filter=lfs diff=lfs merge=lfs -text
lstm_bs1_h256s100.onnx filter=lfs diff=lfs merge=lfs -text
resnext_imagenet_101.onnx filter=lfs diff=lfs merge=lfs -text
swin-transformer.onnx filter=lfs diff=lfs merge=lfs -text
tf_MMoE_1_100_16_8_2.onnx filter=lfs diff=lfs merge=lfs -text
resnext_imagenet_101_8.4-engin.trt filter=lfs diff=lfs merge=lfs -text
swin-transformer-8.4-engine.trt filter=lfs diff=lfs merge=lfs -text
tf_MMoE_1_100_16_8_2_8.4_engine.trt filter=lfs diff=lfs merge=lfs -text
bert_1_384_768_3072_8.4-engine.trt filter=lfs diff=lfs merge=lfs -text
efficientnet-b0_8.4-engin.trt filter=lfs diff=lfs merge=lfs -text
frozen_lstm_l8s8h256_bs1_8.4-engin.trt filter=lfs diff=lfs merge=lfs -text
lstm_l10s100h256_bs1.pb filter=lfs diff=lfs merge=lfs -text
./efficientnet-b0_trt_8.4.1-engine.trt filter=lfs diff=lfs merge=lfs -text
./lstm_bs1_h256s100_trt_8.4.1_engine.trt filter=lfs diff=lfs merge=lfs -text
./resnext_imagenet_101_trt_8.4.1_engine.trt filter=lfs diff=lfs merge=lfs -text
./run_tensorrt_models.sh filter=lfs diff=lfs merge=lfs -text
./swin-transformer_trt_8.4.1_engine.trt filter=lfs diff=lfs merge=lfs -text
./tf_MMoE_1_100_16_8_2_trt_8.4.1_engine.trt filter=lfs diff=lfs merge=lfs -text
./bert_1_384_768_3072_trt_8.4.1_engine.trt filter=lfs diff=lfs merge=lfs -text
baseline/tensorrt/tensorrt-8.4-engines/swin-transformer_trt_8.4.1_engine.trt filter=lfs diff=lfs merge=lfs -text
baseline/tensorrt/tensorrt-8.4-engines/resnext_imagenet_101_trt_8.4.1_engine.trt filter=lfs diff=lfs merge=lfs -text
baseline/tensorrt/tensorrt-8.4-engines filter=lfs diff=lfs merge=lfs -text
